{% extends 'base.html.twig' %}

{% block title %}CustomerAddress index{% endblock %}

{% block body %}
    <h1>CustomerAddress index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Name</th>
                <th>FirstName</th>
                <th>Phone</th>
                <th>Adress</th>
                <th>CodePostal</th>
                <th>City</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer_address in customer_addresses %}
            <tr>
                <td>{{ customer_address.id }}</td>
                <td>{{ customer_address.type }}</td>
                <td>{{ customer_address.name }}</td>
                <td>{{ customer_address.firstName }}</td>
                <td>{{ customer_address.phone }}</td>
                <td>{{ customer_address.adress }}</td>
                <td>{{ customer_address.codePostal }}</td>
                <td>{{ customer_address.city }}</td>
                <td>{{ customer_address.country }}</td>
                <td>
                    <a href="{{ path('customer_address_show', {'id': customer_address.id}) }}">show</a>
                    <a href="{{ path('customer_address_edit', {'id': customer_address.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('customer_address_new') }}">Create new</a>
{% endblock %}
